# Compiled bin
/bin/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
*.test

# local executable
auth-service

# build dirs
build/
dist/
out/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Log files
*.log

# Air (hot reload)
tmp/
.air
.air.toml

# environments files (NEVER commite)
.env
.env.*

# Dumps or local data
*.sqlite
*.db
*.dump
*.bak
./db

# Tests with coverage
coverage.*
*.coverprofile
*.out

# Docker
docker-compose.override.yml
.docker/

# Mac and Linux
.DS_Store
Thumbs.db
